.logo{
    width: 100px;
    margin-left: 40px;
}
.tech{
    width: 80px;
   
}
.celebration{
    width: 19px;
    margin-left: 2px;
}

@media screen and (max-width: 600px) {
    .logo{
        width: 100px;
        margin-left: 15px;
    }
}